<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Домашнее задание 15</title> <!-- Updated title -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        .actions-column {
            text-align: center;
        }

        .top-right-form {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>

<body>

<!-- Header section -->
<div class="header-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Домашнее задание 15</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form th:action="@{/items}" method="get" class="form-horizontal">
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:value="${title != null ? title : ''}" name="title" placeholder="слово" class="form-control"/>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
            <input type="number" id="minPrice" name="minPrice" th:value="${minPrice != null ? minPrice : ''}"
                   placeholder="минимальная цена" class="form-control"/>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
            <input type="number" id="maxPrice" name="maxPrice" th:value="${maxPrice != null ? maxPrice : ''}"
                   placeholder="максимальная цена" class="form-control"/>
        </div>
        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Фильтровать</button>
            </div>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название товара</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"/>
            <td th:text="${item.title}"/>
            <td th:text="${item.price}"/>
            <td class="actions-column">
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                <a class="page-link" th:href="@{'/items?page=' + ${pageNumber}}" th:text="${pageNumber + 1}"></a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
